footer
{
    display: flex;
    justify-content: space-between;
    height: 200px;
}

footer div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

footer .DivTitle
{
    width: 40%;
    font-size: 24px;
}

footer .DivIcon
{
    width: 100px;
    font-size: 24px;
}


@media (max-width: 708px) {
    footer .DivTitle{
        font-size: 18px;
    }
}

