
nav .Logo
{
display: flex;
align-items: center;
justify-content: center;
margin: 0 30px;
font-size: 30px;
}

nav .Routes
{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .Routes .NavLink
{
    text-decoration: none;
    font-size: 18px;
    color: #222;

}


.icon
{
    /* color: #4F46E5; */
    animation: color 20s backwards infinite;

}

@media (max-width: 1000px) and (min-width: 708px){
    nav .Routes .NavLink{
        font-size: 15px;
}
    nav .Logo{
        font-size: 25px;
    }

}

@media (max-width: 708px) {
    nav .Routes
    {
        display: none;
    }
    }